<form action="/articles/<%= @article.id %>" method="POST">
<h1><%= @article.title %>
<p><%= @article.content %></p>
<label for="title">Title Edit: </label>
<input type="text" id="title" name="title" placeholder="<%= @article.title %>">
<label for="content">Content Edit: </label>
<input type="textarea" id="content" name="content" placeholder="<%= @article.content %>">
<input id="hidden" type="hidden" name="_method" value="PATCH">
<button type="submit">Submit</button>
</form>